* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#seccionbanner {
  background-color: darkgray;
}

#seccionmusica {
  background-color: black;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

#seccionnovedades {
  background-color: orangered;
}

#footer {
  background-color: steelblue;
}

#seccionmusica > div {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

#reproductor {
  background-color: tan;
  padding: 1rem;
  margin: 1rem;
  width: 50%;
  height: 15rem;
}

#imagenreproductor {
  background-color: thistle;
  padding: 1rem;
  margin: 1rem;
  width: 50%;
  height: 15rem;
}
